html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;
}

#output-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  user-select: none;
  overflow: hidden;
}

#output-box > div {
  width: 100%;
  height: 100%;
}

#output {
  position: absolute;
  transform-origin: top left;
  white-space: pre;
  font-size: 75vh;
}
